<div class="row my-3">
    <div class="col py-3 d-flex">
        <table class="table table-hover custom-table">
            <thead class="table-header">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos" class="table-row">
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.cantidad }}</td>
                    <td><button class="btn btn-outline-primary btn-sm delete-button">Borrar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
